@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Resume.Data.ViewModels.User.UserDetailsViewModels


<div>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li>
                    <div class="sidebar-profile clearfix">
                        <div class="profile-img">
                            <img src="/Admin/assets/images/usrbig.jpg" alt="profile">
                        </div>
                        <div class="profile-info">
                            <h3>@Model.FirstName @Model.LastName</h3>
                            <p>خوش آمدید !</p>
                        </div>
                    </div>
                </li>
                <li class="active">
                    <a href="#" onclick="return false;" class="menu-toggle toggled waves-effect waves-block">
                        <i class="menu-icon ti-home"></i>
                        <span>مدیریت کاربران</span>
                    </a>
                    <ul class="ml-menu" style="display: block;">
                        <li class="active">
                            <a  asp-area="Admin" asp-action="List" asp-controller="User" >لیست کاربران</a>
                        </li>
                        <li class="active">
                            <a  asp-area="Admin" asp-action="Create" asp-controller="User" >افزودن کاربر </a>
                        </li>
                    </ul>
                </li>
                
                <li class="active">
                    <a href="#" onclick="return false;" class="menu-toggle toggled waves-effect waves-block">
                        <i class="menu-icon ti-home"></i>
                        <span>مدیریت تماس با ما</span>
                    </a>
                    <ul class="ml-menu" style="display: block;">
                        <li class="active">
                            <a  asp-area="Admin" asp-action="List" asp-controller="ContactUs" >لیست تماس با ما</a>
                        </li>
                       
                    </ul>
                </li>
            </ul>
        </div>
        <!-- #Menu -->
    </aside>
</div>
