@model Resume.Data.ViewModels.Education.FilterEducationViewModel

@if (Model != null && Model.Entities.Any())
{
    
    <div class="col-12">
        <h2 class="title title--h3"><img class="title-icon" src="./Site/assets/icons/icon-education.svg" alt=""> تحصیلات</h2>
        <div class="timeline">
          
            @foreach (var item in Model.Entities)
            {
                <!-- Item -->
                <article class="timeline__item">
                    <h5 class="title title--h5 timeline__title">@item.Title</h5>
                    <span class="timeline__period">@item.Start-@(item.End.HasValue?item.End.Value:"مشغول هستم")</span>
                    <p class="timeline__description">
                        @item.Description
                    </p>
                </article>
            }
        </div>
    </div>
}
