
<!DOCTYPE html>
<html lang="fa">
<head>
    <partial name="_MetaTags"/>

	<title> @ViewData["Title"]</title>

    <partial name="_Header"/>
    @await RenderSectionAsync("Styles",false)

</head>
<body>
	
 <partial name="_Loader"/>



	<main class="main">
	
		<partial name="_TopHeader"/>

        <div class="container gutter-top">
			<!-- Header -->
			
            @await Component.InvokeAsync("Header")

            <div class="row sticky-parent">
			
                <partial name="_SideBar"/>

                <!-- Content -->
				<div class="col-12 col-md-12 col-lg-10">
					
					@RenderBody()

                   <partial name="_FooterContent"/>
				</div>
			</div>
		</div>
	</main>

 <partial name="_SiteTools"/>
    <!-- Demo Menu -->
    <partial name="_Footer"/>
	
    @await RenderSectionAsync("Scripts",false)
    </body>
</html>