@model List<Resume.Data.ViewModels.Activity.ActivityDetailsViewModels>

@if (Model != null && Model.Any())
{
    <div class="mt-1">
        <h2 class="title title--h3">کاری که انجام می دهم</h2>
        <div class="row">
            <!-- Case Item -->
            @foreach (var activity in Model)
            {
                <div class="col-12 col-lg-6">
                    <div class="case-item">
                        <img class="case-item__icon" src="@activity.Icon" alt="@activity.Title">
                        <div>
                            <h3 class="title title--h4">@activity.Title</h3>
                            <p class="case-item__caption">@activity.Description</p>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
}
